.dashboardWrapper {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.sideMenuContainer {
}

.sideMenuListItems li {
  padding: 0.3rem;
}

.dashboardContainer {
  background: rgb(222, 222, 222);
  padding: 3rem;
}

.dashboardHeader {
  background: rgb(222, 222, 222);
  padding: 3rem;
}

.dashboardContent {
  /* display: grid;
  grid-template-columns: 20% 1fr 1fr; */
}

.dashboardCard {
  padding: 1rem;
  border: 1px solid black;
}

.cardContainerUpper {
  display: flex;
  /* flex-direction: column; */
}

.upperCard1 {
  flex-grow: 1.5;
  flex-basis: 0;
  border: 1px solid blue;
}

.upperCard2 {
  flex-grow: 2;
  flex-basis: 0;
  border: 1px solid blue;
}

.cardContainerLower {
  display: flex;
  /* flex-direction: column; */
}

.lowerCard {
  flex-grow: 1;
  flex-basis: 0;
}
